.global {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 90vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-weight: 500;
  font-size: 48px;
  text-align: center;
}
